<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento html</title>
</head>
<body>
    <h1>El titulo de neustro documento</h1>
    <h2>Esto es un subtitulo</h2>

    <img src="/images/JODA.png" alt="">

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error quas eligendi neque sed tempore consequuntur velit qui, exercitationem fugit aut! Dolores ab molestiae soluta, ratione laborum reprehenderit voluptate quo vero.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores sapiente eveniet sequi reiciendis numquam consequuntur voluptas corporis ipsa excepturi alias magni quibusdam, sint dicta incidunt tempore praesentium dolor reprehenderit hic.</p>
    <ol>
        <li>Listas ordenadas</li>
        <li>yucas</li>
        <li>limones</li>
    </ol>
    <ul>
        <li>Listas desordenadas</li>
        <li>yucas</li>
        <li>limones</li>
    </ul>

    <a href="https://www.google.com">Ir a Google</a>
</body>
</html>