<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        
        <div class="nav-hedaer">
            <div class="logo ">
                <img src="images/logo.svg" alt="Logo Mercadoliebre">
            </div>
            <form class="barra-busqueda" action="/">
                    <input type="text" name="search" class="busqueda" placeholder="Buscá productos por nombre, marcas o palabras clave">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass lupa"></i></button>
            </form>
            
            <h5 class="compras"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h5>
            </div>
            
        <nav class="navegacion-completo">
            <ul class="navegacion">
                <li><a href="#">Oferta</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="texto-normal navegacion-2">
                <li><a href="/register" class="texto-normal"><i class="fa-solid fa-regular fa-id-card"></i>Crea tu cuenta</a></li>
                <li><a href="/login" class="texto-normal"><i class="fa-solid fa-right-to-bracket"></i>Ingresa</a></li>
                <li><a href="#" class="texto-normal"><i class="fa-solid fa-bag-shopping"></i>Mis compras</a></li>
            </ul>
        </nav>
        
        <div class="menu">
            <i class="fa-solid fa-bars burguer-menu-2"></i>
        </div>
    </header> 
    <img class="oferta" src="images/ofertas.jpg" alt="">  
    <main class="vw-90 mx-auto">
        <section class=" flex flex-wrap ">
            <h2 class="titular w-100">Basado en tu última visita</h2>
            <article class="mb-10 mx-auto produc-shadow md-w-50 lg-w-25 w-100">
                <img class="w-100" src="/images/cafetera.jpg" alt="Cafetera Moulinex" />
                <div class="raya  p-1 relative flex flex-wrap relative">
                    <i class="fa-solid fa-truck color-verde pos-send"></i>
                    <p class="precios">$6.770</p>
                    <p class="descripicion-descuento color-verde">40% OFF</p>
                    <p class="description w-100">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="mb-10 mx-auto produc-shadow md-w-50 lg-w-25 w-100">
                <img class="w-100" src="/images/makbook.jpg" alt="Macbook Pro 2019" />
                <div class="raya  p-1 relative flex flex-wrap relative">
                    <i class="fa-solid fa-truck color-verde pos-send"></i>
                    <p class="precios">$230.000</p>
                    <p class="descripicion-descuento color-verde">20% off</p>
                    <p class="description w-100">MacBook Pro 2019</p>
                </div>
            </article>
            <article class="mb-10 mx-auto produc-shadow md-w-50 lg-w-25 w-100">
                <img class="w-100" src="/images/celular.jpg" alt="Samsung Galaxy S10" />
                <div class="raya border-grey p-1 relative flex flex-wrap">
                    <i class="fa-solid fa-truck color-verde pos-send"></i>
                    <p class="precios">$70.500</p>
                    <p class="descripicion-descuento color-verde">10% off</p>
                    <p class="description w-100">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="mb-10 mx-auto produc-shadow md-w-50 lg-w-25 w-100">
                <img class="w-100" src="/images/smart-tv.jpg" alt="Samsung Galaxy S10" />
                <div class="raya border-grey p-1 relative flex flex-wrap">
                    <i class="fa-solid fa-truck color-verde pos-send"></i>
                    <p class="precios">$23.200</p>
                    <p class="descripicion-descuento color-verde">5% off</p>
                    <p class="description w-100">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
        <section class=" flex flex-wrap gap">
            <h2 class="titular w-100">Seccion de Ofertas</h2>
            <article class="mb-10 mx-auto produc-shadow md-w-50 lg-w-25 w-100">
                <img class="w-100" src="/images/cafetera.jpg" alt="Cafetera Moulinex" />
                <div class="raya  p-1 relative flex flex-wrap relative">
                    <i class="fa-solid fa-truck color-verde pos-send"></i>
                    <p class="precios">$6.770</p>
                    <p class="descripicion-descuento color-verde">40% OFF</p>
                    <p class="description w-100">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="mb-10 mx-auto produc-shadow md-w-50 lg-w-25 w-100">
                <img class="w-100" src="/images/makbook.jpg" alt="Macbook Pro 2019" />
                <div class="raya  p-1 relative flex flex-wrap relative">
                    <i class="fa-solid fa-truck color-verde pos-send"></i>
                    <p class="precios">$230.000</p>
                    <p class="descripicion-descuento color-verde">20% off</p>
                    <p class="description w-100">MacBook Pro 2019</p>
                </div>
            </article>
            <article class="mb-10 mx-auto produc-shadow md-w-50 lg-w-25 w-100">
                <img class="w-100" src="/images/celular.jpg" alt="Samsung Galaxy S10" />
                <div class="raya border-grey p-1 relative flex flex-wrap">
                    <i class="fa-solid fa-truck color-verde pos-send"></i>
                    <p class="precios">$70.500</p>
                    <p class="descripicion-descuento color-verde">10% off</p>
                    <p class="description w-100">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="mb-10 mx-auto produc-shadow md-w-50 lg-w-25 w-100">
                <img class="w-100" src="/images/smart-tv.jpg" alt="Samsung Galaxy S10" />
                <div class="raya border-grey p-1 relative flex flex-wrap">
                    <i class="fa-solid fa-truck color-verde pos-send"></i>
                    <p class="precios">$23.200</p>
                    <p class="descripicion-descuento color-verde">5% off</p>
                    <p class="description w-100">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>
    <footer class="bg-color">
        <ul class=" ft-list">
            <li><i class="fa-solid fa-credit-card icon"></i></iclass></i><h3>Pagá con tarjeta o en efectivo</h3>
                <p class="ft-p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p></li>
            <li><i class="fa-solid fa-gift icon"></i><h3>Envío gratis desde $ 2.500</h3>
                <p class="ft-p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p></li>
            <li><i class="fa-solid fa-user-shield icon"></i><h3>Seguridad, de principio a fin</h3>
                <p class="ft-p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p></li>
        </ul>
          <h3 class="copi">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </footer>
</body>
</html>