<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento html</title>
</head>
<body>
    <img src="images/logo.svg" alt="">
    <p>Lugar para poner la Barra de Busquedas</p>
    <p>Comprá en cuotas y sin tarjeta de crédito</p>
    <ul>
        <li><a href="">Oferta</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
    </ul>
    <ul>
        <li><a href="">Creá tu cuenta</a></li>
        <li><a href="">Ingresá</a></li>
        <li><a href="">Mis Compras</a></li>
    </ul>
    <main>
        <img src="/images/ofertas.jpg" alt=""> 
        <section>
            <h2>Basado en tu ultima visita</h2>
            <article>
            <img src="/images/cafetera.jpg" alt="">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
            </article>
            <article>
            <img src="/images/makbook.jpg" alt="">
            <p>$230.000</p>
            <p>20% off</p>
            <p>MacBook Pro 2019</p>
            </article>
            <article>
            <img src="/images/celular.jpg" alt="">
            <p>$70.500</p>
            <p>10% off</p>
            <p>Samsung Galaxy S10</p>
            </article>
            <article>
            <img src="/images/Smart-Tv.jpg" alt="">
            <p>$23.200</p>
            <p>5% off</p>
            <p>SmartTv Samsung 43"</p>
            </article>
        </section>
        <section>
            <h2>Sección de Ofertas</h2>
            <article>
            <img src="/images/cafetera.jpg" alt="">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
            </article>
            <article>
            <img src="/images/makbook.jpg" alt="">
            <p>$230.000</p>
            <p>20% off</p>
            <p>MacBook Pro 2019</p>
            </article>
            <article>
            <img src="/images/celular.jpg" alt="">
            <p>$70.500</p>
            <p>10% off</p>
            <p>Samsung Galaxy S10</p>
            </article>
            <article>
            <img src="/images/Smart-Tv.jpg" alt="">
            <p>$23.200</p>
            <p>5% off</p>
            <p>SmartTv Samsung 43"</p>
            </article>
        </section>
    </main>
    <footer>
        <ul>
            <li><h3>Pagá con tarjeta o en efectivo</h3>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</li>
            <li><h3>Envío gratis desde $ 2.500</h3>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</li>
            <li><h3>Seguridad, de principio a fin</h3>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</li>
            <li><h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3></li>
        </ul>
    </footer>
</body>
</html>