<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@300;400&display=swap"
        rel="stylesheet">
    <title>Mercadoliebre</title>
</head>

<body>
    <header class="bg-yellow">
        <div class="nav-hedaer">
        <div class="logo ">
            <a href="/"><img src="/images/logo.svg" alt="Logo Mercadoliebre"></a>
        </div>
        <form action="/">
            <div class="barra-busqueda">
                <input type="text" name="search" placeholder="Buscá productos por nombre, marcas o palabras clave" class="busqueda">
                <button type="submit"> <i class="fa-solid fa-magnifying-glass lupa"></i></button>
            </div>
        </form>
        
        <h5 class="compras"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h5>
        </div>
        <nav class="navegacion-completo">
            <ul class="texto-normal navegacion">
                <li><a href="#" class="texto-normal">Ofertas</a></li>
                <li><a href="#" class="texto-normal">Tiendas Oficiales</a></li>
                <li><a href="#" class="texto-normal">Vender</a></li>
                <li><a href="#" class="texto-normal">Ayuda</a></li>
            </ul>
            <ul class="texto-normal navegacion-2">
                <li class="texto-normal"><a href="/register" class="texto-normal"><i class="fa-regular fa-id-card"></i>Crea tu
                        cuenta</a></li>
                <li><a href="/login" class="texto-normal"><i class="fa-solid fa-right-to-bracket"></i>Ingresa</a></li>
                <li><a href="#" class="texto-normal"><i class="fa-solid fa-bag-shopping"></i>Mis compras</a></li>
            </ul>
        </nav>
        <div class="burguer-menu menu">
            <i class="fa-solid fa-bars burguer-menu-2"></i>
        </div>
    </header>
        <main class="flex vw-90 m-0">
            <form action="/" method="get"  class="flex flex-direction align-center mt-10 vw-90 m-0">
                <input class="w-100 br mt-15 pd w-lg" type="email" id="email" name="email" placeholder="Nombre de usuari@" required>
                <input class="w-100 br mt-15 pd w-lg" type="password" placeholder="Contraseña" required>
                <button type="submit" class="btn">Enviar</button>
            </form>
        </main>
        <footer class="bg-color">
            <ul class=" ft-list">
                <li><i class="fa-solid fa-credit-card icon"></i></iclass></i><h3>Pagá con tarjeta o en efectivo</h3>
                    <p class="ft-p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p></li>
                <li><i class="fa-solid fa-gift icon"></i><h3>Envío gratis desde $ 2.500</h3>
                    <p class="ft-p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p></li>
                <li><i class="fa-solid fa-user-shield icon"></i><h3>Seguridad, de principio a fin</h3>
                    <p class="ft-p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p></li>
            </ul>
              <h3 class="copi">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </footer>   
    </body>